.styledPath {
  color: var(--color-gray-light);
  font-size: 11px;
  margin-left: 10px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .styledPath {
    display: none!important;
  }

  .title {
    margin-left: 10px;
  }
}