.products {
  margin-top: 20px;
}

.products_header {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products_header h5 {
  margin: 0;
}

.line {
  background: white;
  height: 0.01rem;
  width: 60%;
}

@media screen and (max-width: 991px) {
  .products_header h5 {
    font-size: 1.1em;
  }

  .line {
    width: 50%;
  }

  .product_header button {
    font-size: 1em;
  }
}

.normal_button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  background: var(--color-secondary);
  outline: none;
  border: 0;
  border-radius: 2px;
  padding: 5px 20px;
}

.highlighted_button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  background: transparent;
  border-radius: 2px;
  padding: 5px 20px;
  border-width: 1.5px;
  border-color: var(--color-active);
}

.highlighted_button:hover,
.highlighted_button:focus {
  background: var(--color-active);
  border-color: var(--color-active);
  color: black;
}

@media screen and (max-width: 767px) {
  .line {
    width: 35%;
  }
}

@media screen and (max-width: 550px) {
  .product_header h5 {
    font-size: 1em;
  }

  .line {
    width: 30%;
  }

  .product_header button {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 384px) {
  .line {
    width: 15%;
  }
}