.background {
  background-color: var(--color-primary);
  padding: 40px;
  height: 100%;
}

.list {
  margin-top: 50px;
}

.active  {
  color: var(--color-active);
}

.active svg {
  color: var(--color-active);
}

@media screen and (max-width: 990px) {
  .background {
    visibility: hidden;
    height: 0;
  }
}