.red_button {
  background: none;
  border: 2px solid rgb(200,10,10);
}

.red_button:hover {
  background: none;
}

.blue_button {
  background: none;
  border: 2px solid rgb(10,10,200);
}

.blue_button:hover {
  background: none;
  border: 2px solid rgb(10,200,200);
}