.action {
  text-align: right;
}

.product_image {
  width: 150px;
  height: 100px;
  border-radius: 5px;
}

.product_data h6 {
  font-weight: 600;
}

.primary_badge {
  background-color: var(--color-secondary);
}

.icon {
  cursor: pointer;
  transition: color 0.2s;
}

.icon:hover {
  color: #ff0a0a;
}

.icon:active {
  color: #ff5f5f;
}

@media screen and (max-width: 768px) {
  .action {
    text-align: center;
    margin-top: 10px;
  }

  .action strong {
    font-size: 1.2em;
  }

  .action button {
    width: 100%;
    margin-top: 10px;
  }

  .product_data {
    text-align: center;
    margin-top: 20px;
  }
}