.container {
  display: inline-block;
  position: relative;
  top: -15px;
  right: 5px;
}

.container span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: #f66a5d;
  font-size: 0.6em;
  font-weight: 900;
  padding-right: 1.5px;
  padding-left: 1.5px;
  user-select: none;
}
