.admin_panel {
    background-color: var(--color-secondary);
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.admin_panel table {
    color: white;
}

.table_line {
    background-color: var(--color-background);
    padding-right: 110px;
}

.table_line:hover {
    color: white!important;
}

.modal {
    top: 20%;
}

.modal_body {
    background-color: var(--color-primary);
    padding: 50px;
    text-align: center;
    font-size: 29px;
}

.red_button {
    background: none;
    border: 2px solid rgb(200,10,10);
}

.red_button:hover {
    background: none;
}

.blue_button {
    background: none;
    border: 2px solid rgb(10,10,200);
}

.blue_button:hover {
    background: none;
    border: 2px solid rgb(10,200,200);
}