.background {
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.name {
    color: var(--color-gray-light);
    font-size: 0.9rem;
    margin-right: 10px;
}