.title_and_path {
    text-align: left;
}

.title_and_path h4, .title_and_path span {
    display: inline;
}

.styledPath {
    color: var(--color-gray-light);
    font-size: 11px;
    margin-left: 10px;
    margin-top: 10px;
}

.input {
    background-color: var(--color-secondary);
    border: none;
    height: 30px;
}

.input:focus {
    background-color: var(--color-secondary);
}

.titleButton {
    margin-top: -5px;
}

@media (max-width: 1200px) {
  .styledPath {
    display: none!important;
   }
}