.styledPath {
    color: var(--color-gray-light);
    font-size: 13px;
    float: left;
}

.input {
    background-color: var(--color-secondary);
    border: none;
    height: 30px;
}

.input:focus {
    background-color: var(--color-secondary);
}

.titleButton {
    margin-top: -5px;
}