.admin_panel {
    background-color: var(--color-secondary);
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.admin_panel table {
    color: white;
}

.table_line {
    background-color: var(--color-background);
    padding-right: 110px;
}

.table_line:hover {
    color: white!important;
}

.modal {
    top: 20%;
}

.modal_body {
    background-color: var(--color-primary);
    padding: 50px;
    text-align: center;
    font-size: 29px;
}

.details_button {
    text-align: right;
}

.details_button > button {
    margin: 10px;
}